@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOwZ</h1>
    <p class="lead">Metody Optymalizacji w Zarządzaniu</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Still</h2>
        <p>
            Rozwiązuje problem przydziału miejsc w parlamencie metodą Stilla z kryterium Hilla.
        </p>
        <p><div class="btn btn-primary btn-lg">
            @Html.ActionLink("Zobacz więcej", "Still", "Home", routeValues: null, htmlAttributes: new { id = "sillLink", style = "color:#ffffff; text-decoration:none" })
            </div></p>
    </div>
    <div class="col-md-4">
        <h2>Liu-Layland</h2>
        <p>
            Rozwiązuje problem Liu-Layland'a za pomocą statycznego algorytmu Liu-Layland'a.
        </p>
        <p>
            <div class="btn btn-primary btn-lg">
                @Html.ActionLink("Zobacz więcej", "LiuLayland", "Home", routeValues: null, htmlAttributes: new { id = "liuLink", style = "color:#ffffff; text-decoration:none" })
            </div>
        </p>
    </div>
</div>